<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj Recept</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="form-container">
        <h2>Dodaj Recept</h2>
        <form action="/add_recipe" method="POST">
            <label for="name">Ime recepta:</label>
            <input type="text" name="name" id="name" required>
            
            <label for="description">Opis recepta:</label>
            <textarea name="description" id="description" required></textarea>

            <label for="ingredients">Sestavine (ločeno z vejico):</label>
            <input type="text" name="ingredients" id="ingredients" required>

            <button type="submit">Dodaj Recept</button>
        </form>
    </div>
</body>
</html>
