<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domov</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="form-container">
        <h2>Dobrodošli na MealMatch!</h2>
        <p>Če želite začeti, se prijavite ali registrirajte:</p>
        <p><a href="{{ url_for('login') }}">Prijava</a> | <a href="{{ url_for('register') }}">Registracija</a></p>
    </div>
</body>
</html>
