<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <title>Koledar</title>
</head>
<body>
    <h1>Tvoji zapiski za določen dan</h1>
    
    <form method="post">
        <label for="datum">Datum:</label>
        <input type="date" name="datum" required><br><br>
        
        <label for="predmet">Predmet:</label>
        <input type="text" name="predmet" required><br><br>
        
        <label for="zapiski">Zapiski:</label><br>
        <textarea name="zapiski" rows="4" cols="50" required></textarea><br><br>
        
        <button type="submit">Shrani zapiske</button>
    </form>

</body>
</html>
