<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ recipe['name'] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Domov</a></li>
                <li><a href="{{ url_for('search_recipes') }}">Iskanje receptov</a></li>
                <li><a href="{{ url_for('logout') }}">Odjava</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>{{ recipe['name'] }}</h1>
        <p><strong>Sestavine:</strong> {{ recipe['ingredients'] | join(', ') }}</p>
        <p><strong>Navodila:</strong> {{ recipe['instructions'] }}</p>
        
        {% if 'username' in session %}
            <a href="{{ url_for('add_to_favorites', recipe_id=recipe.doc_id) }}">Dodaj v najljubše</a>
        {% endif %}
        
        <a href="{{ url_for('search_recipes') }}">Nazaj na iskanje receptov</a>
    </main>

    <footer>
        <p>&copy; 2025 MealMatch. Vse pravice pridržane.</p>
    </footer>
</body>
</html>
