<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iskanje Receptov</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="form-container">
        <h2>Iskanje Receptov</h2>
        <form action="/search" method="POST">
            <label for="ingredients">Sestavine:</label>
            <input type="text" name="ingredients" id="ingredients" placeholder="npr. sir, jajca, kruh" required>
            <button type="submit">Išči</button>
        </form>

        {% if recipes %}
    <h3>Najdeni recepti:</h3>
    <ul>
        {% for recipe in recipes %}
            <li>
                <strong>{{ recipe['title'] }}</strong><br>
                <img src="{{ recipe['image'] }}" alt="{{ recipe['title'] }}" width="200"><br>
                <p><a href="https://spoonacular.com/recipes/{{ recipe['title']|replace(' ', '-') }}-{{ recipe['id'] }}" target="_blank">Poglej recept</a></p>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Ni receptov za te sestavine.</p>
{% endif %}
    </div>
</body>
</html>
